<% layout('layouts/boilerplate') %>

<h1 class="text-center my-4">All Listings</h1>
<!-- Listings Grid -->
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
  <% for (let listing of allListings) { %>
    <div class="col mb-4">
      <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: inherit;">
        <div class="card listing-card h-100">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:20rem; object-fit:cover;">
          <div class="card-body">
          <p class="card-text">
  <%= listing.title %> <br>
  <% if (listing.price !== undefined && listing.price !== null) { %>
    &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
  <% } else { %>
    Price not available
  <% } %>
</p>




          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>